/* Layout for desktop version */

body {

   font-family : sans-serif;
   background : #fff;
   background-image:url('http://localhost/webbase/assets/img/indexback.jpg');
   margin-top : 50px;
}
label{
    font-weight: 900;
    color: black;
   
}
span{
    color: white;
    background-color: black;
}