{%extends 'page.twig'%}

{%block navigation%}

{%endblock navigation%}

{%block main%}

<div id="wrap">

    <!-- Begin page content -->
    <div class="container">

        <div class="page-header">

            <h1>Thank you for your Purchasinng ${{totalmoney}}</h1>

        </div>

    </div>

    <div id="push">
        <section>
            <div align="center" class="row features">

                <div class="span6">

                    <a class="btn btn-large btn-inverse" href="home"><i class="icon-home "></i> Back home page</a>
                </div>

                <div class="span6">

                    <a class="btn btn-large btn-inverse" href="shopping"><i class="icon-shopping-cart"></i> Back Shopping again</a>
                </div>

            </div>

        </section>
            
    </div>

</div>

{%endblock main%}