{%block navigation%}

<div class="navbar navba-inverse navbar-fixed-top">

    <div class="navbar-inner">

        <div class="container">

            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

            </button>
            <a class="brand" href="{{subd}}/home">Home</a>

            <div class="nav-collapse collapse">

                <ul class="nav">

                    <li class="active">

                        <a href="{{subd}}/home">Home</a>

                    </li>

                    <li class="">

                        <a href="{{subd}}/test">Get started</a>

                    </li>

                </ul>

            </div>

        </div>

    </div>
</div>

{%endblock navigation%}
