{% extends 'page.twig' %}

{%block pageheader%}

{% block header %}

<div class="container">

    {%if warn%}

    <div class="alert">

        <button type="button" class="close" data-dismiss="alert">&times;</button>

        <strong>Please Login first!</strong> 

    </div> 
    {%endif%}

    <div id="myCarousel" class="carousel slide">

        <ol class="carousel-indicators">

            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

            <li data-target="#myCarousel" data-slide-to="1"></li>

            <li data-target="#myCarousel" data-slide-to="2"></li>

        </ol>
        <!-- Carousel items -->
        <div  align="center"class="carousel-inner">

            <div align="center" class="active item">

                <img src="assets/img/jm1.jpg" alt>

                <div class="container">

                    <div class="carousel-caption">

                        <p class="lead">Fight like LeBran James, get the equipments!</p>

                        <a class="btn btn-large btn-primary offset7" href="shopping">Go Now>></a>

                    </div>

                </div>

            </div>

            <div align = "center" class="item">

                <img src="assets/img/jm2.jpg" alt>

            </div>

            <div class="item">

                <img src="assets/img/jm3.jpg" alt>

            </div>

        </div>

        <!-- Carousel nav -->
        <div class="container">

            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>

            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>

        </div>

    </div>

</div>

{% endblock header %}

{% endblock pageheader%}
{%block main%}

<section>
    <div align="center" class="row features">

        <div class="span6">

            <a class="btn btn-large btn-inverse" href="register"><i class="icon-user "></i> Register Now</a>

        </div>

        <div class="span6">

            <a class="btn btn-large btn-inverse" href="shopping"><i class="icon-shopping-cart"></i> Shopping Now</a>
        </div>

    </div>

</section>
{%endblock main%}
{% block footer %}
<div class="span12">
    <p class="cntr"></p>
    <div>
{% endblock footer %}
