{%extends 'page.twig'%}
{%block activeBar%}
<li>
    <a href="home"><i class="icon-home"></i>Home</a>
</li>
<li><a href="register">Register</a></li>

{%endblock activeBar%}
{%block header%}
<p align="center"><h1>{{p}}{{ack}}!</h1><h3>Jumping Now....</h3>
</p>
{%endblock header%}
{% block onload %}
setTimeout("javascript:location.href='home'", 1000); 
{%endblock onload%}