<!doctype html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>{% block title %}{{site.name|upper}}{% endblock title %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="{{site.name}}"/>

        <!--
            <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
        -->
        <!--
            <link rel="shortcut icon" href="{{subd}}/assets/img/favicon.png"/>
            <link rel="icon" type="image/gif" href="{{subd}}/assets/img/favicon.png"/>
        -->
        <!--
            <link rel="apple-touch-icon" href="assets/ico/apple-touch-icon.png">
            <link rel="apple-touch-icon" sizes="72x72" href="assets/ico/apple-touch-icon-72x72.png">
            <link rel="apple-touch-icon" sizes="114x114" href="assets/ico/apple-touch-icon-114x114.png">
        -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap.no-icons.min.css" media="screen"/>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css"/>
        <!--[if lt IE 8]>
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome-ie7.css"/>
            <![endif]-->
        <link rel="stylesheet" href="{{assets}}/css/util.css"/>
        <link rel="stylesheet" href="{{assets}}/css/layout.css" media="screen"/>
        <link rel="stylesheet" herf="{{assets}}/css/bootstrap.css" media="screen"/>
{%block largehead%}
{%block head%}
{% block css %}
{% endblock css %}
{%endblock head%} 

 {%block checklogin%}
        <script>
       function showHint(str)
       {
       var xmlhttp;
       if (str.length==0)
         { 
         document.getElementById("txtHint").innerHTML="";
         return;
         }
       if (window.XMLHttpRequest)
         {// code for IE7+, Firefox, Chrome, Opera, Safari
         xmlhttp=new XMLHttpRequest();
         }
       else
         {// code for IE6, IE5
         xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
         }
       xmlhttp.onreadystatechange=function()
         {
         if (xmlhttp.readyState==4 && xmlhttp.status==200)
           {
             p=xmlhttp.responseText;
         $(document).ready(function(){
         $("button[ name='jumpout']").click(function(){
           if( p=="Non")
              { document.getElementById("txtHint").innerHTML="Please register first!";
           return false;
       }
        else if(document.form1.modalpassword.value != p ) {
           document.getElementById("txtHint").innerHTML="Passwords do not match!";
           return false;
         }
         else if(document.form1.modalpassword.value == p ) {
       return true;
       }
         });
       });
           }
         }

       xmlhttp.open("GET","checklogin&loginuser="+str,true);
       xmlhttp.send();

       }
            </script>

            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
    
                </script>

{%endblock checklogin%}

 {%endblock largehead%}
            </head>

            <body lang="en-GB" class="home home-new logged-out" data-twttr-rendered="true">
 {%block body%}
{%block Modal%}
                    <!-- Modal -->

                    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 

                        <div class="modal-header">

                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>     
                            
                            <h3 id="myModalLabel">Welcome to FV Market</h3>  

                        </div>     

                        <div class="modal-body">   

                            <form action="home" name="form1" method="post" class="form-horizontal">
                                <div class="control-group">

                                    <label class="control-label" for="inputUserName">User</label>

                                    <div class="controls">

                                        <input name="modaluser" type="text" id="inputUserName" onkeyup="showHint(this.value)" placeholder="User Name" required>
                                    </div>

                                </div>

                                <div class="control-group">

                                    <label class="control-label" for="inputPassword">Password</label>

                                    <div class="controls">

                                        <input name="modalpassword" type="password" id="inputPassword" placeholder="Password" required>
                                        
                                    </div>

                                </div>

                                <div class="control-group">

                                    <div class="controls">

                                        <label class="checkbox">

                                            <input type="checkbox"> Remember me

                                        </label>

                                        <button name="jumpout" type="submit" class="btn">Sign in</button>

                                    </div>

                                </div>

                            </form>

                        </div>      

                        <div class="modal-footer">    

                            <a align="center"><span name="txtHint"id="txtHint">{{p}}</span></a>   

                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>                             

                        </div>        

                    </div>                                                      
{%endblock Modal%}
{% block navigation %}

                    <div class="navbar navbar-inverse ">

                        <div class="navbar-inner ">

                            <a class="brand" href="{{subd}}/home">&nbsp&nbspFV MARKET</a>

                            <div class="container{{fluid}}" >

                                <ul class="nav">

                            {%block activeBar%}

                                    <li class="active">  

                                        <a href="{{subd}}/home"><i class="icon-home"></i>Home</a>
                                    </li>

                                    <li ><a href="register"><i class="icon-user"></i>Register</a></li>

                            {%block shopping%}

                                    <li ><a href="shopping"><i class="icon-shopping-cart"></i>shopping</a></li>

                           {%endblock shopping%}
                                </ul> 
                            {%endblock activeBar%}
                                <!--
                              Link Modal
                                -->                     
                            {%block login%}
                            {% if loggedin %}

                                <li href="#myModal" role="button" class="offset4 btn btn-inverse" data-toggle="modal"><i class="icon-user"></i>Log in</li>
                            {% else %}

                                <li type="button"  onclick="window.location.href='logout'"class="offset4 btn btn-inverse" >

                                    <i class="icon-off"></i>Log out</li> <i><a >Welcome! {{loggeduser}}</a></i>

                            {% endif %}

                            {%endblock login%}

                            </div>

                        </div>  

                    </div>
    {% endblock navigation %}
     {%block bodyin%}
                    <div class="container">

	{% block pageheader %}

                        <header class="row{{fluid}}">

		{% block header %}
		{% endblock header %}

                        </header>

	{% endblock pageheader %}

                        <article class="mainbody">
	    {% block main %}

	    {% endblock main %}

                            </article>

	{% block pagefooter %}

                            <footer class="row{{fluid}}">

		{% block footer %}

		{% endblock footer %}

                            </footer>

	{% endblock pagefooter %}

                        </div>

                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                        <!--[if lt IE 9]>
                        <script src="https://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
                        <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                        <![endif]-->


                        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
                        <script src="{{assets}}/js/bootbox.min.js"></script>

    {% block scripts %}
    {%endblock scripts %}

                        <script>
                            {% block setup %}
                            {% endblock setup %}

                            var subd = '{{subd}}';

                            $(function(){
                                {% block onload %}
                                {% endblock onload %}
                            })
                            </script>
    {%endblock bodyin%}
  {%endblock body%}  
                        </body>

                    </html>
