{%extends 'page.twig'%}

{%block checklogin%}

{%endblock checklogin%}

{%block Modal%}

{%endblock Modal%}

{%block activeBar%}
<li>
    
    <a href="home"><i class="icon-home"></i>Home</a>
    
</li>
<li class="active"><a href="register"><i class="icon-user"></i>Register</a></li>

 {%block shopping%}

          <li ><a href="shopping"><i class="icon-shopping-cart"></i>shopping</a></li>
          
{%endblock shopping%}
          
{%endblock activeBar%}
          
    {%block login%}
          
    {%endblock login%}
          
{%block header%}

<script>
function showHint(str)
{
var xmlhttp;
if (str.length==0)
  { 
  document.getElementById("txtHint").innerHTML="";
  return;
  }
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    document.getElementById("txtHint").innerHTML=xmlhttp.responseText;
    }
  }
xmlhttp.open("GET","gethint&checkuser="+str,true);
xmlhttp.send();

}
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
    
</script>

<script>
$(document).ready(function(){
  $("button").click(function(){
    if( document.getElementById("txtHint").innerHTML=="This name has been used")
       {   document.getElementById("txtHint").innerHTML="Change the user name!";
    return false;
}
 else if(document.form1.password1.value !=document.form1.password2.value ) {
      document.getElementById("txtHint1").innerHTML='Passwords do not match';
    return false;
  }
return true;
  });
});
</script>
{%endblock header%}

{%block main%}

<div class="container ">
    
<form name="form1"action="newuser" method="post" class="form-horizontal">
    
  <div class="control-group offset2">
  
    <div class="controls">
        
        <input name="user" type="text" id="userName" onkeyup="showHint(this.value)" placeholder="User Name" required>
        
        <a><span name="txtHint"id="txtHint">{{p}}</span></a>
    </div>
      
  </div>
    
  <div class="control-group offset2">
  
    <div class="controls">
        
        <input name="email" type="email" id="inputEmail" placeholder="Email" required>
        
    </div>
      
  </div>
    
  <div class="control-group offset2">
  
    <div class="controls">
        
        <input name="password1" type="password" id="inputPassword" placeholder="Password" required>
        
        <a><span name="txtHint"id="txtHint1"></span></a>
        
    </div>
      
  </div>
    
  <div class="control-group offset2">
 
    <div class="controls">
        
        <input name="password2" type="password" id="inputPasswordAgian" placeholder="Input Password Again" required>
    </div>
      
  </div>
    
  <div class="control-group offset2">
      
    <div class="controls">
     
        <button type="submit" class="btn">Sign Up</button>
    
    </div>
      
  </div>
    
</form>
        
    </div>

{%endblock main%}

