{%extends 'page.twig'%}

{%block largehead%}
<script type="text/javascript" src="{{assets}}/js/jquery-cart.js"></script>
<script type="text/javascript" src="{{assets}}/js/jquery.livecart.js"></script>
<link href="{{assets}}/css/shoppingcart.css" rel="stylesheet" />
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
<script src="{{assets}}/js/bootbox.min.js"></script>
<script>
$(document).ready(function() {
	
	var Arrays=new Array();
	//  wrap according to the mouse
	$('#wrap li').mousemove(function(){
		
		var position = $(this).position();
		
		$('#cart').stop().animate({
																									
				left   : position.left+'px',
				
			},250,function(){
			
		});			
	}).mouseout(function(){
		
	});	
	
	$('#wrap li').click(function(){
            //click to add the goods
                document.getElementById("show").innerHTML= "";
		
		var thisID = $(this).attr('id');
		
		var itemname  = $(this).find('div .name').html();
		var itemprice = $(this).find('div .price').html();
			
		if(include(Arrays,thisID))
		{
			var price 	 = $('#each-'+thisID).children(".shopp-price").find('em').html();
			var quantity = $('#each-'+thisID).children(".shopp-quantity").html();
			quantity = parseInt(quantity)+parseInt(1);
			
			var total = parseInt(itemprice)*parseInt(quantity);
			
			$('#each-'+thisID).children(".shopp-price").find('em').html(total);
			$('#each-'+thisID).children(".shopp-quantity").html(quantity);
			
			var prev_charges = $('.cart-total span').html();
			prev_charges = parseInt(prev_charges)-parseInt(price);
			
			prev_charges = parseInt(prev_charges)+parseInt(total);
			$('.cart-total span').html(prev_charges);
			
			$('#total-hidden-charges').val(prev_charges);
		}
		else
		{
			Arrays.push(thisID);
			
			var prev_charges = $('.cart-total span').html();
			prev_charges = parseInt(prev_charges)+parseInt(itemprice);
			
			$('.cart-total span').html(prev_charges);
			$('#total-hidden-charges').val(prev_charges);
			
			$('#left_bar .cart-info').append('<div class="shopp" id="each-'+thisID+'"><div class="label">'+itemname+'</div><div class="shopp-price"> $<em>'+itemprice+'</em></div><span class="shopp-quantity">1</span><img src="{{assets}}/img/remove.png" class="remove" /><br class="all" /></div>');
			
			$('#cart').css({'-webkit-transform' : 'rotate(20deg)','-moz-transform' : 'rotate(20deg)' });
		}
		
		setTimeout('angle()',200);
	});	
	
	
	$('.remove').livequery('click', function() {
		// remove the goods
		var deduct = $(this).parent().children(".shopp-price").find('em').html();//'em'  show the price
 		var prev_charges = $('.cart-total span').html();// get the price from the span
		
		var thisID = $(this).parent().attr('id').replace('each-','');
		
		var pos = getpos(Arrays,thisID);
		Arrays.splice(pos,1,"0")
		
		prev_charges = parseInt(prev_charges)-parseInt(deduct);
		$('.cart-total span').html(prev_charges);
		$('#total-hidden-charges').val(prev_charges);
		$(this).parent().remove();
		
	});	
	
	$('#Submit').livequery('click', function() {
		// submit the cart, pass the totalmoney
		var totalCharge = $('#total-hidden-charges').val();// get the total charged
		if (totalCharge ==0){
                    document.getElementById("show").innerHTML="You have not purchase anything!";
                    return false;
                    }
                   
		//$('#left_bar').html('Total Charges: $'+totalCharge);
		else{
                   
		 return true;
		}
	});	
	
});

function include(arr, obj) {
  for(var i=0; i<arr.length; i++) {
    if (arr[i] == obj) 
        return true;
  }
}
function getpos(arr, obj) {
  for(var i=0; i<arr.length; i++) {
    if (arr[i] == obj) 
        return i;
  }
}
function angle(){$('#cart').css({'-webkit-transform' : 'rotate(0deg)','-moz-transform' : 'rotate(0deg)' });}

</script>
{%endblock largehead%}
{%block body%}
{% block navigation %}
       
      
            <div class="navbar navbar-inverse ">
                <div class="navbar-inner ">
                      <a class="brand" href="{{subd}}/home">&nbsp&nbspFV MARKET</a>
                    <div class="container{{fluid}}" >
                        <ul class="nav">
                            {%block activeBar%}
                            <li >  
                                <a href="{{subd}}/home"><i class="icon-home"></i>Home</a>
                            </li>
                            <li ><a href="register"><i class="icon-user"></i>Register</a></li>
                            {%block shopping%}
                             <li class="active" ><a href="shopping"><i class="icon-shopping-cart"></i>shopping</a></li>
                           {%endblock shopping%}
                         </ul> 
                            {%endblock activeBar%}
  <!--
Link Modal
-->                     
                            {%block login%}
                          
                            <li type="button"  onclick="window.location.href='logout'"class="offset4 btn btn-inverse" ><i class="icon-off"></i>Log out</li> <i><a >Welcome! {{loggeduser}}</a></i>
                            
                            {%endblock login%}

                </div>
                      
            </div>
                     </div>
    {% endblock navigation %}

<div align="left">
	
	<div id="wrap" align="left">
		
		<ul>
			<li id="1">
				<img src="{{assets}}/img/1.jpg" class="items" height="100" alt="" />
				
				<br clear="all" />
				<div><span class="name">James T-shirt</span>: $<span class="price">100</span> </div>
			</li>
			<li id="2">
				<img src="{{assets}}/img/2.jpg" class="items" height="100" alt="" />
				
				<br clear="all" />
				<div><span class="name">Nike LeBron II</span>: $<span class="price">400 </span></div>
			</li>
			<li id="3">
				<img src="{{assets}}/img/3.jpg" class="items" height="100" alt="" />
				
				<br clear="all" />
				<div><span class="name">Nike LeBron III</span>: $<span class="price">500</span></div>
			</li>
			
			<li id="4">
				<img src="{{assets}}/img/4.jpg" class="items" height="100" alt="" />
				
				<br clear="all" />
				<div><span class="name">Nike LeBron IV</span>: $<span class="price">670 </span></div>
			</li>
			<li id="5">
				<img src="{{assets}}/img/5.jpg" class="items" height="100" alt="" />
				
				<br clear="all" />
				<div> <span class="name">23 T-shirt </span>: $<span class="price">65</span></div>
			</li>
			
			<li id="6">
				<img src="{{assets}}/img/6.jpg" class="items" height="100" alt="" />
				
				<br clear="all" />
				<div><span class="name">Nike LeBron V </span>: $<span class="price">700</span> </div>
			</li>
			
			<li id="7">
				<img src="{{assets}}/img/7.jpg" class="items" height="100" alt="" />
				
				<br clear="all" />
				<div><span class="name"> Nike LeBron 8 PS</span>: $<span class="price">880</span></div>
			</li>
			<li id="8">
				<img src="{{assets}}/img/8.jpg" class="items" height="100" alt="" />
				
				<br clear="all" />
				<div><span class="name">Nike LeBron 9</span>: $<span class="price">900 </span></div>
			</li>
			
			<li id="9">
				<img src="{{assets}}/img/9.jpg" class="items" height="100" alt="" />
				
				<br clear="all" />
				<div><span class="name">Nike Air Max </span>: $<span class="price">700</span></div>
			</li>
			
		</ul>
		
		<br clear="all" />
		
		<div id="bottomBar" align="left"><img src="{{assets}}/img/carts.png" id="cart" /></div>
	
	</div>
	
	<div id="left_bar"> 
		
		<form action="checkout" id="cart_form" name="cart_form">
		
		<div class="cart-info offset3"></div>
		
		<div class="cart-total offset3">
		
			<b>Total Charges:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b><p id="show"></p>$<span>0</span>
			
			<input type="hidden" name="total-hidden-charges" id="total-hidden-charges" value="0" />
		</div>
		
		<button class="offset3" type="submit" id="Submit">CheckOut</button>
		
		</form>
		
	</div> 	
</div>

{%endblock body%}

